<div class="index-section light-background index-section--flush">
  {% section 'product-template' %}
  {% comment %}{% section 'product-story-sections' %}{% endcomment %}
  {% section 'product-recommendations' %}
  {% section 'product-herbalist-note' %}
  {% section 'recently-viewed' %}
  {% section 'product-square-banners' %}
  {% section 'product-related-blog-posts' %}
  {% section 'sesami-questions' %}
</div>
